body{
    padding: 8em 12em;

}

h1{
    padding: 10px;
    background-color: rgb(66, 71, 207);
    text-align: center;
    color:bisque;
    margin:0px;
}

#textbox{
    width: 99.3%;
    border: 1px solid rgb(66, 71, 207)
}

p{  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 50px;
    font-size: 30px;
    border: 2px solid rgb(66, 71, 207)
}